body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.875rem;
    padding: 2rem 3rem;
    border: 2px solid #4776E6;
    border-radius: 20px;
}

.input-field {
    position: relative;
    margin-top: 2rem;
}

.input-field input {
    padding: 0.8rem;
    font-size: 1.5625rem;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

form input[type="submit"] {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 1.5625rem;
    padding: 0.5rem 2rem;
}

.text-danger{
    color: red;
}